<div class="row mt-4">
    <div class="col-sm-12">
        
        <div class="card-body text-start">
            <h1 class="card-title">Contact</h1>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum consequuntur quae iusto exercitationem! Aspernatur quaerat quidem, quae ab quasi consequatur mollitia, ad quos ratione nobis sapiente harum odit repudiandae labore?</p>
        </div>

    </div>
</div>

<div class="row justify-content-center mt-4 mb-5">
   <div class="col-sm-7 bg-light">
    <div class="mb-3">
<div class="row-cols input-group">
        <label for="exampleFormControlInput1" class="form-label mt-4 me-2">Your E-mail</label>&nbsp
        <input type="email" class="form-control mt-3 ms-3 id="exampleFormControlInput1" placeholder="Your email">
    </div>
      </div>
      <div class="mb-3">
        <div class="row-cols input-group">
        <label for="exampleFormControlTextarea1" class="form-label mt-4 me-2">Your Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here..."></textarea>
    </div>
    </div>

      <div class="btn btn-primary float-end mb-2">
        Submit
      </div>
   </div>

</div>
