<!-- your html code here -->

<div class="row  border-top border-secondary.bg-gradient mx-5 my-3">

    <div class="col-md-7 offset-md-1 justify-content-center py-5">
        <h2 class="title text-start">This First Headind <small class="text-muted">Catch Your Eye.</small> </h2>

        <p class="text text-start">Donec ullamcoper nula non metus auctor fringila. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque
            nisl consectetur. Fuse dapibus, tellus ac cursus commodos.</p>
    </div>

    <div class="col-md-3 my-2">
        <img src="./assets/img/1.png" class="img-fluid rounded-circle" alt="...">
    </div>

</div>