<!-- your html code here -->
<div class="container bg-light p-5">
  <div class="row">
      <div class="col-12  text-start">
          <h1>Portfolio.</h1>
      </div>
      <div class="col-12  text-start">
          <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, voluptates voluptatem aperiam sunt, cupiditate illo facilis excepturi impedit consequuntur obcaecati in, nihil doloremque natus error fugit illum quae ducimus fuga?</p>
      </div>
  <div class="row d-flex">
      <div class="col-4">
          <div class="card border-light bg-light" style="width: 24rem;">
              <img src="assets/img/big-project-image.png" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title text-start text-primary">Project Name</h3>
                <p class="card-text text-start">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium laboriosam tempora ducimus illum hic maxime reiciendis, blanditiis nemo facere rem, fugit, saepe repellendus deleniti mollitia eum. Ut reprehenderit dolorum adipisci?</p>
              </div>
            </div>
      </div>
      <div class="col-4 ">
          <div class="card border-light bg-light" style="width: 24rem;">
              <img src="assets/img/big-project-image.png" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title text-primary text-start">Project Name</h3>
                <p class="card-text text-start">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi explicabo ullam blanditiis eos, cumque sed similique placeat id nesciunt voluptatem totam alias quia aspernatur porro, inventore ab, debitis voluptatum. Nesciunt.</p>
              </div>
            </div>
      </div>
      <div class="col-4">
          <div class="card border-light bg-light" style="width: 24rem;">
              <img src="assets/img/big-project-image.png" class="card-img-top">
              <div class="card-body">
                <h3 class="card-title text-start text-primary">Project Name</h3>
                <p class="card-text text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam nihil iure commodi accusantium quo, blanditiis esse molestiae voluptatem perspiciatis quasi. Veritatis fugit hic iusto consequuntur aliquam maiores consectetur, impedit accusamus.</p>
              </div>
            </div>
      </div>
  </div>
  </div>
</div>