<!-- your html code here -->
<div class="row border-top border-bottom border-secondary.bg-gradient mx-5 my-3">

  <div class="col-md-3 offset-md-1 d-flex justify-content-center">
      <img src="./assets/img/2.png" class="img-fluid rounded-circle" alt="...">
  </div>

  <div class="col-md-7 justify-content-center py-5">
      <h2 class="title text-end">The second Headind <small class="text-muted">Is Pretty Coll Too.</small> </h2>

      <p class="text text-end">Donec ullamcoper nula non metus auctor fringila. Vestibulum id ligula porta felis euismod
          semper. Praesent commodo cursus magna, vel scelerisque
          nisl consectetur. Fuse dapibus, tellus ac cursus commodo.</p>
  </div>


</div>